@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.content-area{
    background-color: hsl(217, 28%, 13%)
}
.home-img{
    text-align: center;
    padding-top: 10px;
}
.home-img img{
    width: 375px;
    margin-top: 40px;
    z-index: 1;    
}
.home-img-curve img{
    width: 100%;
    height: 200px;
    margin-top: -25px;
    z-index: -1; 
}
.head-text{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 370px;
    margin: 10px;
    color: white;
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
}
.home-para{
    font-family: 'Raleway', sans-serif;
    margin: -20px 20px;
    color: white;
    text-align: center;
}
.home-btn{
    margin: 40px 0px;
    text-align: center;
}
.home-btn button{
    padding: 15px 90px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
    cursor: pointer;
}
.home-btn button:hover{
    background-image: linear-gradient(to right,hsl(198, 60%, 50%) , hsl(176, 68%, 64%));
    transition: 0.5s ease-out;
}